# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and database
*.log
*.sqlite3

# Mac / Windows system files
.DS_Store
Thumbs.db
